@charset "utf-8";


@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* font */
@font-face {
    font-family: 'notosans';
    font-weight: 700;
    font-style: normal;
    src: url('../template/font/NotoSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'notosans';
    font-weight: 400;
    font-style: normal;
    src: url('../template/font/NotoSans-Regular.ttf') format('truetype');
}


/* reset */
* {box-sizing: border-box;}
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea {margin: 0; padding: 0;}
hr {display: none;}
ul, ol, li {list-style: none;}
img, fieldset {border: none; vertical-align: middle;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: 700; font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은고딕', 'Dotum', '돋움', 'samsungsharpsans', 'Arial', 'sans-serif';}
table {border-collapse: collapse; font-size: 100%;}
address, optgroup {font-style: normal;}
object {vertical-align: top;}
input, button, select {vertical-align: middle;}
article, aside, details, figcaption, figure, footer, header, nav, section {display: block;}
audio, canvas, progress, video {display: inline-block;}
button {box-shadow: none; border: none; background-color: transparent; font-size: 14px; font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은고딕', 'Dotum', '돋움', 'samsungsharpsans', 'Arial', 'sans-serif'; border-radius: 0;}
button:hover,
button:active,
button:focus {cursor: pointer;}
input[type="radio"], input[type="checkbox"] {margin: 0; vertical-align: top;}

/* linkStyle */
a {color: #000; text-decoration: none;}
a:visited {color: #000; text-decoration: none;}
a:active,
a:focus,
a:hover {text-decoration: none;}
a[href^="tel"] {color: inherit; text-decoration: none;}

/* font */
body {color: #000; font-size: 14px; font-weight: 400; font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은고딕', 'Dotum', '돋움', 'samsungsharpsans', 'Arial', 'sans-serif'; line-height: 1;}
input, select, textarea {color: #000; background: #fff; font-size: 14px; font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은고딕', 'Dotum', '돋움', 'samsungsharpsans', 'Arial', 'sans-serif'; border-radius: 0;}
input[type="text"],input[type="password"],select {height: 30px; line-height: 30px; border:0;}
input[type="text"],input[type="password"],textarea { 
	-webkit-ime-mode:active; 
	-moz-ime-mode:active; 
	-ms-ime-mode:active; 
	ime-mode:active; 
}
textarea,select {border: 1px solid #808080;}
.en {font-family: 'notosans'; letter-spacing: -0.04em;}

/* skip */
.skip, legend, caption {position: absolute; left: -5000px; width: 0; height: 0; font-size: 0; line-height: 0; overflow: hidden;}
caption {position: static;}

#skip-navigation {z-index: 9999; position: absolute; left: 0; top: 0;}
#skip-navigation * {list-style: none; margin: 0; padding: 0;}
#skip-navigation a {display: block; width: 1px; height: 1px; overflow: hidden; color: #000; white-space: nowrap;}
#skip-navigation a:focus,
#skip-navigation a:active {width: 100px; height: auto; background: #ffd;}

/* input */
fieldset {min-width: auto;}
input[type="button"],
input[type="submit"] {cursor: pointer; background-color: transparent;}
input[type="file"] {background-color: transparent;}

/* scroll */
/* body { -ms-overflow-style: none; }  IE에서 안보이게 처리 */
body::-webkit-scrollbar,
body ::-webkit-scrollbar { /* 스크롤바 전체 */
	width: 5px;
	height: 5px;
	border-radius: 5px;
}
body::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb { /* 스크롤 막대 */
    background-color: #d5d5d5;
	border-radius: 5px;
}
body::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track { /* 스크롤 막대 외부 */
    background-color: #efefef;
	border-radius: 5px;
}

/* placeholder color */
::placeholder {color: #808080 !important;}
:-ms-input-placeholder {color: #808080 !important;} /* ie */

@media all and (max-width: 768px) {
    body {font-size: 1.8229vw;}

    /* scroll */
    /* body { -ms-overflow-style: none; }  IE에서 안보이게 처리 */
    body::-webkit-scrollbar,
    body ::-webkit-scrollbar { /* 스크롤바 전체 */
        width: 0.6510;
        height: 0.6510;
        border-radius: 0.6510;
    }
    body::-webkit-scrollbar-thumb,
    body ::-webkit-scrollbar-thumb { /* 스크롤 막대 */
        border-radius: 0.6510;
    }
    body::-webkit-scrollbar-track,
    body ::-webkit-scrollbar-track { /* 스크롤 막대 외부 */
        border-radius: 0.6510;
    }
}