@charset "utf-8";

.pc-only {
    display: block;
}
.mo-only {
    display: none;
}

html {
    overflow: hidden;
}

html, body {
    width: 100%;
    height: 100%;
}

/* nav */
nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    height: 60px;
    padding: 0 60px;
    margin: 0 auto;
}
nav > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
nav > ul > li {
    margin-left: 60px;
}
nav > ul > li:first-child {
    margin-left: 0;
}
nav > ul > li > a {
    display: block;
    font-size: 14px;
}
nav > ul > li.active > a {
    font-weight: 500;
    color: #ff4500;
}

/* observer */
.observer {
    opacity: 0;
    transition: ease-in-out 0.5s;
}
.observer + .observer {
    transition-delay: 0.2s;
}
.observer.active {
    opacity: 1;
}

/* sec-intro */
.sec-intro {
    width: 100%;
    height: 100%;
}
.sec-intro > .inner-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.sec-intro .box-tit {
    width: 100%;
    opacity: 0;
    transition: ease-in-out 1.5s;
}
.sec-intro .box-tit.active {
    opacity: 1;
}
.sec-intro .box-tit > h1 {
    position: relative;
    width: 100%;
    max-width: 1112px;
    margin: 0 auto 30px;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.sec-intro .box-tit > h1::before {
    position: absolute;
    left: 0;
    top: 120px;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 365px;
    margin: auto;
    background: url("../asset/image/sec-intro-tit.png") no-repeat center;
    background-size: contain;
    content: '';
}
.sec-intro .box-tit > h1 > span {
    position: relative;
    z-index: 2;
}
.sec-intro .box-tit > p {
    position: relative;
    z-index: 2;
    font-size: 14px;
    line-height: 1.2;
    color: #999;
    text-align: center;
    word-break: keep-all;
}
.sec-intro .box-tit > p + p {
    margin-top: 5px;
}

/* sec-about */
.sec-about {
    width: 100%;
    height: 100%;
}
.sec-about > .inner-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 100px;
}
.sec-about .box-tit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 720px;
}
.sec-about .box-tit > h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2;
}
.sec-about .box-tit > h2 > strong {
    font-weight: 700;
}
.sec-about .box-tit > h2 > .font-orange {
    color: #ff4500;
}
.sec-about .box-tit > .list-info {
    display: flex;
    flex-wrap: wrap;
}
.sec-about .box-tit > .list-info > dt {
    width: 80px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
}
.sec-about .box-tit > .list-info > dd {
    width: calc(100% - 80px);
    margin-top: 20px;
    font-size: 18px;
}
.sec-about .box-con {
    width: 40%;
    height: 720px;
}
.list-path + .list-path {
    margin-top: 100px;
}
.list-path > ul {
    position: relative;
}
.list-path > ul li::before {
    display: block;
    position: absolute;
    left: 3px;
    top: 0px;
    width: 1px;
    height: 100%;
    background-color: #000;
    content: '';
}
.list-path > ul > li {
    position: relative;
    padding-left: 20px;
    padding-bottom: 30px;
}
.list-path > ul > li:last-child {
    padding-bottom: 0px;
}
.list-path > ul > li::before {
    display: block;
    position: absolute;
    left: 3px;
    top: 0px;
    width: 1px;
    height: 100%;
    background-color: #000;
    content: '';
}
.list-path > ul > li::after {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 7px;
    height: 18px;
    background-color: #000;
    content: '';
    box-sizing: border-box;
}
.list-path > ul > li .tit {
    margin-bottom: 20px;
    font-size: 18px;
}
.list-path > ul > li .tit span {
    font-style: italic;
}
.list-path > ul > li .con > dl {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.list-path > ul > li .con > dl dt {
    width: 120px;
}
.list-path > ul > li .con > dl dd {
    width: calc(100% - 120px);
    margin-bottom: 10px;
    font-weight: 500;
}
.list-path > ul > li .con > dl dd span:not(.en) {
    margin-left: 3px;
    font-size: 12px;
    font-weight: 400;
}

/* sec-portfolio */
.sec-portfolio {
    width: 100%;
    height: 100%;
}
.sec-portfolio .inner-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 0 0 100px;
}
.sec-portfolio .box-tit {
    width: 600px;
}
.sec-portfolio .box-tit h2 {
    font-size: 60px;
    text-transform: uppercase;
}
.sec-portfolio .box-con {
    width: calc(100% - 600px);
}
.sec-portfolio .box-slide .item {
    width: 350px;
    margin-right: 50px;
}
.sec-portfolio .box-slide .item:last-child {
    margin-right: 60px;
}
.sec-portfolio .box-slide .item > a {
    display: block;
    width: 100%;
}
.sec-portfolio .box-slide .item > a > .img {
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    background-color: #000;
}
.sec-portfolio .box-slide .item > a > .img > img {
    width: 100%;
    height: auto;
}
.sec-portfolio .box-slide .item > a > .con h3 {
    overflow: hidden;
    display: -webkit-box;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.3;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.sec-portfolio .box-slide .item > a > .con p {
    color: #222;
}
.sec-portfolio .box-slide .btn-wrapper {
    display: flex;
    margin-top: 30px;
}
.sec-portfolio .box-slide .btn-wrapper > a {
    margin-right: 20px;
    text-transform: capitalize;
}
.sec-portfolio .box-slide .btn-wrapper > a:hover {
    font-weight: 500;
    text-decoration: underline;
}
.sec-portfolio .box-slide .btn-wrapper > .swiper-button-disabled {
    opacity: .3;
}
.sec-portfolio .box-slide .btn-wrapper > .swiper-button-disabled:hover {
    font-weight: 400;
    text-decoration: none;
}

/* popup */
.box-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}
.box-popup.active {
    display: flex;
}
.box-popup .popup-wrapper {
    position: relative;
    width: calc(100% - 40px);
    height: auto;
    max-width: 700px;
    max-height: calc(100% - 100px);
    margin: auto;
    background-color: #fff;
}
.box-popup .popup-wrapper .popup-content {
    overflow-y: auto;
    position: relative;
    height: 100%;
}
.box-popup .popup-wrapper .popup-content > .img > img {
    width: 100%;
    height: auto;
}
.box-popup .popup-wrapper .popup-content > .tit {
    padding: 40px 40px 0;
    font-size: 24px;
    line-height: 1.2;
}
.box-popup .popup-wrapper .popup-content > .con {
    padding: 10px 40px 40px;
    font-size: 16px;
}
.box-popup .popup-wrapper .popup-close {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ff4500 url("../asset/image/popup-close.png") no-repeat center;
    background-size: 16px auto;
    font-size: 0;
    color: transparent;
    text-indent: -9999px;
}

/* list-work-info */
.list-work-info {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.list-work-info dt {
    position: relative;
    width: 90px;
    padding-left: 10px;
    margin-top: 10px;
    font-weight: 500;
}
.list-work-info dt::before {
    display: block;
    position: absolute;
    left: 0;
    top: 7px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #000;
    content: '';
}
.list-work-info dd {
    width: calc(100% - 90px);
    margin-top: 10px;
    line-height: 1.2;
}

/* PC 화면 세로 예외 처리*/
@media all and (max-height: 810px) and (min-width: 769px) {
    .sec-about .box-tit,
    .sec-about .box-con {
        width: 50%;
        height: 419px;
    }
    .list-path > ul {
        display: flex;
        flex-wrap: wrap;
    }
    .list-path > ul > li {
        width: 50%;
    }.list-path > ul > li:nth-child(3) {
        padding-bottom: 0px;
    }
}

/* 화면 가로가 1280보다 작을 때 */
@media all and (max-width: 1280px) {
    /* nav */
    nav {
        padding: 0 20px;
    }
    nav > ul > li {
        margin-left: 20px;
    }

    /* sec-intro */
    .sec-intro .box-tit > h1 {
        font-size: 11.7188vw;
    }
    .sec-intro .box-tit > h1::before {
        top: 9.3750vw;
        height: 28.5156vw;
    }

    /* sec-about */
    .sec-about > .inner-sec {
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .sec-about .box-tit {
        width: 100%;
        height: auto;
    }
    .sec-about .box-tit > h2 {
        margin-bottom: 30px;
        font-size: 4.6875vw;
    }
    .sec-about .box-con {
        width: 100%;
        height: auto;
    }

    /* sec-portfolio */
    .sec-portfolio {
        display: flex;
        align-items: center;
    }
    .sec-portfolio .inner-sec {
        flex-wrap: wrap;
        height: auto;
        padding: 0 0 0 20px;
    }
    .sec-portfolio .box-tit {
        margin-bottom: 50px;
    }
    .sec-portfolio .box-con {
        width: 100%;
    }
    .sec-portfolio .box-slide .item {
        margin-right: 20px;
    }
    .sec-portfolio .box-slide .item:last-child {
        margin-right: 20px;
    }
}

/* 화면 가로가 1280보다 작거나 769보다 클 때 */
@media all and (max-width: 1280px) and (min-width: 769px) {
    /* sec-about */
    .list-path > ul {
        display: flex;
        flex-wrap: wrap;
    }
    .list-path > ul > li {
        width: 50%;
    }
    .list-path > ul > li:nth-child(3) {
        padding-bottom: 0px;
    }
}

/* 화면 가로가 768보다 작을 때 */
@media all and (max-width: 768px) {
    .pc-only {
        display: none;
    }
    .mo-only {
        display: block;
    }

    /* sec-intro */
    .sec-intro .box-tit > p {
        padding: 0 20px;
        font-size: 12px;
    }

    /* sec-about */
    .sec-about {
        display: flex;
        align-items: center;
    }
    .sec-about .box-tit {
        margin-top: 50px;
    }
    .sec-about .box-tit > h2 {
        margin-bottom: 5px;
        font-size: 7.8125vw;
    }
    .sec-about .box-tit > .list-info > dt {
        margin-top: 2.6042vw;
        font-size: 2.3438vw;
    }
    .sec-about .box-tit > .list-info > dd {
        margin-top: 2.6042vw;
        font-size: 2.3438vw;
    }
    .sec-about .box-con {
        height: calc(100% - 500px);
    }
    .list-path {
        overflow-y: auto;
        height: 100%;
    }
    .list-path > ul > li .tit {
        margin-bottom: 2.6042vw;
        font-size: 2.3438vw;
    }
    .list-path > ul > li .con > dl dd span:not(.en) {
        font-size: 1.5625vw;
    }

    /* sec-portfolio */
    .sec-portfolio .box-tit {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .sec-portfolio .box-tit h2 {
        font-size: 7.8125vw;
    }
    .sec-portfolio .box-slide .item > a > .con h3 {
        font-size: 16px;
    }
    .sec-portfolio .box-slide .item > a > .con p {
        font-size: 14px;
    }
    .sec-portfolio .box-slide .btn-wrapper > a {
        font-size: 14px;
    }

    /* popup */
    .box-popup .popup-wrapper .popup-content > .tit {
        padding: 20px 20px 0;
        font-size: 18px;
    }
    .box-popup .popup-wrapper .popup-content > .con {
        padding: 10px 20px 20px;
        font-size: 14px;
    }

    /* list-work-info */
    .list-work-info dt {
        width: 70px;
    }
    .list-work-info dt::before {
        top: 7px;
        width: 3px;
        height: 3px;
    }
    .list-work-info dd {
        width: calc(100% - 70px);
    }
}

/* 화면 가로가 480보다 작을 때 */
@media all and (max-width: 480px) {
    /* sec-about */
    .list-path > ul > li {
        padding-left: 15px;
        padding-bottom: 15px;
    }
    .list-path > ul > li::before {
        left: 2px;
    }
    .list-path > ul > li::after {
        width: 5px;
        height: 14px;
    }
    .sec-about .box-tit > .list-info > dt {
        margin-top: 10px;
        font-size: 14px;
    }
    .sec-about .box-tit > .list-info > dd {
        margin-top: 10px;
        font-size: 14px;
    }
    .list-path > ul > li .tit {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .list-path > ul > li .con > dl dt {
        margin-bottom: 5px;
        font-size: 12px;
    }
    .list-path > ul > li .con > dl dd {
        font-size: 12px;
    }
    .list-path > ul > li .con > dl dd span:not(.en) {
        font-size: 10px;
    }

    /* sec-portfolio */
    .sec-portfolio .box-slide .item {
        width: 200px;
    }
    .sec-portfolio .box-slide .item > a > .img {
        height: 200px;
        margin-bottom: 20px;
    }
    .sec-portfolio .box-slide .item > a > .con h3 {
        font-size: 16px;
    }
    .sec-portfolio .box-slide .item > a > .con p {
        font-size: 12px;
    }
    .sec-portfolio .box-slide .btn-wrapper > a {
        font-size: 12px;
    }

    /* popup */
    .box-popup .popup-wrapper .popup-content > .tit {
        padding: 20px 20px 0;
        font-size: 18px;
    }
    .box-popup .popup-wrapper .popup-content > .con {
        padding: 10px 20px 20px;
        font-size: 14px;
    }

    /* list-work-info */
    .list-work-info dt {
        width: 100%;
    }
    .list-work-info dd {
        width: 100%;
        padding-left: 10px;
        margin-top: 5px;
    }
}

/* 화면 가로가 360보다 작을 때 */
@media all and (max-width: 360px) {
    /* sec-about */
    .list-path > ul > li .con > dl dt {
        width: 100%;
    }
    .list-path > ul > li .con > dl dd {
        width: 100%;
    }
}

/* 화면 세로가 850보다 작을 때 */
@media all and (max-height: 850px) { 
    .sec-about .box-con {
        height: calc(100% - 400px);
    }
}

/* 화면 세로가 680보다 작을 때 */
@media all and (max-height: 680px) { 
    .sec-about .box-con {
        height: calc(100% - 300px);
    }
}

/* 화면 세로가 600보다 작을 때 */
@media all and (max-height: 600px) {
    /* sec-about */
    .sec-about .inner-sec {
        height: auto;
    }
    .sec-about .box-tit {
        margin-bottom: 30px;
    }
    .sec-about .box-con {
        height: auto;
    }
    .list-path {
        height: 230px;
    }

    /* sec-portfolio */
    .sec-portfolio .box-tit {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .sec-portfolio .box-slide .btn-wrapper {
        margin-top: 20px;
    }
}